.flex {
  display: flex;
}

.main-content {
  width: calc(100% - 250px); /* Navbar ยืดตามขนาดของหน้าจอหลัก */
  margin-left: 250px;
  margin-top: 70px; /* ดึงเนื้อหาลงมาให้ต่ำกว่า Navbar */
  height: calc(100vh - 70px); /* ปรับตามความสูงของ Navbar */


  overflow: hidden; /* ป้องกันการทับกับ Navbar */
}

.ant-card.export-project-custom-card {
  background-color: #a1b5a6; /* สีพื้นหลัง */
  
}

.ant-card-head-title {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 25px;
  color: rgb(23, 22, 22); /* สีของข้อความ */
  padding: 20px;
  
}


/* ExportProject.css */
.export-custom-placeholder::placeholder {
  font-family: 'Noto Sans Thai', sans-serif;
  color: #5d5858; /* เปลี่ยนเป็นสีที่คุณต้องการ */
}

/* ExportProject.css */
.ant-table-wrapper .ant-table-pagination-right {
  justify-content: center !important; /* เปลี่ยนจาก flex-end เป็น center */
}


/* ExportProject.css */
.custom-pagination .ant-pagination-item-active {
  background-color: #ffffff !important; /* เปลี่ยนเป็นสีที่คุณต้องการ */
  border-color: #333 !important; /* เปลี่ยนเป็นสีที่คุณต้องการ */
  color: #ffffff !important; /* เปลี่ยนเป็นสีที่คุณต้องการ */
}

.custom-pagination .ant-pagination-item-active a{
 
  color: #323232 !important; /* เปลี่ยนเป็นสีที่คุณต้องการ */
}
