.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}



.description-editor {
  margin-bottom: 20px;
}

.button-save {
  width: fit-content;
  background-color: #007bff;
  color: white;
  &:hover {
    background-color: #0056b3;
  }
}

/* เพิ่มคลาสเฉพาะสำหรับระบบ CreateProject */
.create-project-focus [type='text']:focus,
.create-project-focus [type='email']:focus,
.create-project-focus [type='url']:focus,
.create-project-focus [type='password']:focus,
.create-project-focus [type='number']:focus,
.create-project-focus [type='date']:focus,
.create-project-focus [type='datetime-local']:focus,
.create-project-focus [type='month']:focus,
.create-project-focus [type='search']:focus,
.create-project-focus [type='tel']:focus,
.create-project-focus [type='time']:focus,
.create-project-focus [type='week']:focus,
.create-project-focus [multiple]:focus,
.create-project-focus textarea:focus,
.create-project-focus select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: none; /* เปลี่ยนเป็นสีเขียว */
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0 var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #afb2ae; /* เปลี่ยนเป็นสีเขียว */
}

.modal-container {
  z-index: 1000; /* ตั้งค่า z-index ของ modal */
}

.swal2-container {
  z-index: 2000 !important; /* ตั้งค่า z-index ของ alert ให้สูงกว่า modal */
}
