.flex {
  display: flex;
}

/* Container for the main content */
.main-content {
  width: calc(100% - 250px);
  margin-left: 250px;
}

/* Container for the project content */
.project-content {
  padding-top: 70px;
  width: 50%;
  height: calc(100vh - 70px);
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-left: 570px;
  
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center; /* จัดกึ่งกลางแนวตั้ง */
}
.project-wrapper {
  max-width: 900px; /* กำหนดขนาดความกว้างสูงสุดของ content */
  width: 100%; /* ให้ content ยืดตามขนาดหน้าจอ */
}

/* Custom styling for the project cards */
.max-w-sm {
  margin: auto;
  transition: transform 0.3s;
}

.max-w-sm:hover {
  transform: scale(1.05);
}

/* Custom styling for the pagination */
.custom-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.create-project-button {
  background-color: #333;
  color: #fff;
  border: none;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  transition: background-color 0.3s;
}

.create-project-button:hover {
  background-color: #000;
}
