.flex {
  display: flex;
}

/* Container for the main content */
.pmain-content {
  width: calc(100% - 250px);


  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center; /* จัดกึ่งกลางแนวตั้ง */

  height: 100vh;
}

/* Container for the project content */
.project-content {
  padding-top: 70px;

  
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center; /* จัดกึ่งกลางแนวตั้ง */
}
.project-wrapper {
  height: 90vh;
  max-width: 900px; /* กำหนดขนาดความกว้างสูงสุดของ content */
  width: 100%; /* ให้ content ยืดตามขนาดหน้าจอ */
}

.project-wrapper .max-w-sm {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-wrapper .max-w-sm:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


/* Custom styling for the project cards */
.max-w-sm {
  margin: auto;
  transition: transform 0.3s;
}

.max-w-sm:hover {
  transform: scale(1.05);
}

/* Custom styling for the pagination */
.custom-pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.create-project-button {
  position: absolute;
  top: 170px;
 
  right: 100px;
}


.create-project-button:hover {
  background-color: #000;
}

.skeleton-card {
  height: 500px; /* ปรับความสูงตามต้องการ */
  width: 400px;
  


}
.skeleton-image {
  width: 100%;
  height: 200px; /* ปรับความสูงตามต้องการ */
  margin-bottom: 20px;
}


.ant-skeleton {
  width: 100%;
}


.dropdown-button {
  background: none; /* เอาพื้นหลังออก */
  border: none; /* เอาเส้นขอบออก */
  padding: 0; /* เอา padding ออก */
  margin: 0; /* เอา margin ออก */
  cursor: pointer; /* ทำให้เป็นปุ่มคลิกได้ */
}

.dropdown-button svg {
  width: 20px; /* กำหนดขนาดของไอคอน */
  height: 20px; /* กำหนดขนาดของไอคอน */
  color: #9ca3af; /* กำหนดสีของไอคอน */
}

.dropdown-menu {
  z-index: 10;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 10rem;
  position: absolute;
  top: 2rem;
  right: 0;
}



.popover {
  position: absolute;
  top: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.popover.left {
  left: -220px; /* ปรับตำแหน่งให้ popover อยู่ทางด้านซ้าย */
}

.popover.right {
  left: 450px; /* ปรับตำแหน่งให้ popover อยู่ทางด้านขวา */
}

.popover::after {
  content: "";
  position: absolute;
  top: 10px; /* ปรับตำแหน่งแนวตั้งของลูกศร */
  width: 0;
  height: 0;
  border-style: solid;
}

.popover.left::after {
  right: -10px; /* ตำแหน่งลูกศรเมื่อ popover อยู่ทางซ้าย */
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #F3F4F6;
}

.popover.right::after {
  left: -10px; /* ตำแหน่งลูกศรเมื่อ popover อยู่ทางขวา */
  border-width: 10px 10px 10px 0;
  border-color: transparent #F3F4F6 transparent transparent;
}

.popover.visible {
  visibility: visible;
  opacity: 1;
}

.project-page-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 50px;
  font-weight: 500;
}
