.reset-bg {
    background-color: #ffffff;
    /* #423d3df1 */
    border-radius: 0;
    background: transparent;
    backdrop-filter: blur(13px);
    /* background-image: url(../../img/authentication.svg); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1300px 600px;
}
.resetbg {
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(225deg, #ffffff 10%, #f1f0ee 50%, #e3a466 100%);       
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1800px 800px;
}

.reset-holder{
    width: 100vw;
    height: 100vh;
    background-color: #242323b2;
    background: transparent;
    backdrop-filter: blur(0.25px);
    color: #f0f5fa;
    display: flex;
    justify-content:left;
    align-items:center;
    padding-left: 300px;
    /* padding-right: 100px; */
    

}


.reset-div{
    background-color:#1b1b1b;
    height:360px;
    width: 500px;
    border-radius: 40px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column;
    color: #D0D1D4;
    box-shadow: 0 6px 24px #26242180;

}


.resetinput{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #302f2e;
    color:#ffffff;
    padding-left:10px;
    outline: none;
}

.emailinput{
    width:80%;
    height:55px;
    margin-bottom:20px;
    position:relative; 
    border-radius:20px;
    padding-right:30px;
}

.emailtext{
    font-size:16px;
    position: absolute;
    z-index:10;
    transition: 0.15s ease-in-out;
    top:-25px;
    left:10px;
    color:#dededd
}

.email{
    height: 100%; 
    top:0px;
    left:0px;
    width:100%;
    position: absolute;
    z-index:4;
    
}

.sigup-button{ 
    margin-right:10px;
    font-size:25px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    background-color: #1b1b1b; 
    color: #f0f8ff; 
    padding: 8px 40px;
    border-radius: 40px;
    border-color: #f0f8ff;
}

.sigup-button:hover{
    background-color: #f8f8f8;
    color: #dd6a0c;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: #d76c14;
    cursor: pointer;
}

.text {
    color:#3b3938;
    margin-top:6px;
}

.resetsignin{
    color: snow;
}

.resetsigninspan{
    color:#F49B4E;
    margin-left:6px
}

.resetsignup{
    color: snow;
}

.resetsignupspan{
    color:#f44343;
    margin-left:6px
}
