
  .signup-input-group input {
    width: 100%; /* กำหนดความกว้างของ input ให้เต็มกว่า parent element */
    padding: 10px; /* เพิ่มขนาด padding ให้กับ input */
    font-size: 16px; /* กำหนดขนาดตัวอักษรของ input */

    border-radius: 5px; /* เพิ่มขอบโค้งให้กับ input */
}
  

