.flex-container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.user-manage-content {
  flex-grow: 1;
  width: calc(100% - 250px);

  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background-color: #f4f2ee; /* Default background color */
  padding: 20px;
  box-sizing: border-box;
}

/* Light mode background */
@media (prefers-color-scheme: light) {
  .user-manage-content {
    background-color: #f4f2ee;
  }
}

/* Dark mode background */
@media (prefers-color-scheme: dark) {
  .user-manage-content {
    background-color: #333;
    color: #fff;
  }

  .text-gray-500 {
    color: #bbb;
  }
  
  .text-gray-900 {
    color: #fff;
  }

  .dark\:text-white {
    color: #fff;
  }
}
