.flex {
  display: flex;
}

.main-content {
  width: calc(100% - 250px);
 
  margin-top: 64px; /* ดึงเนื้อหาลงมาให้ต่ำกว่า Navbar */
  height: calc(100vh - 70px);
  padding: 20px;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  overflow: hidden;
}

.user-box {
  width: calc(100% - 250px);
 
  margin-top: 64px; /* ดึงเนื้อหาลงมาให้ต่ำกว่า Navbar */
  height: calc(100vh - 64px);
  padding: 20px;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 16px;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form > * {
  margin-bottom: 16px;
}
