@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@800&display=swap');
.upload-button{ 
    font-size:20px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    color: #d4d1d1;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.upload-button::after{ 
    font-size:20px;
    border-radius: 15px;
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: #ff6d38;
    transition:0.2s ease-in-out;

}

.upload-button:hover::after{
    background-color: #ff6d38; 
    color: #dd6a0c; 
    width: 100%;
    transition: 0.3s ease-in-out;
    padding: 2px 40px;
    cursor: pointer;
}


.theme {
    background-image: linear-gradient(40deg, #ffffff 40%, #ffffff );
    width: 100vw;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* ให้ Navbar อยู่ด้านหน้าของส่วนอื่นๆ ในหน้าเว็บ */
  }

