.navbar {
  background-color: #1f1f1f;
  position: fixed;
  top: 0px;
  left: 250px; /* ลดขอบเขตด้านซ้ายของ Navbar เพื่อให้ไม่แทบกับ Sidebar */
  right: 0;
  z-index: 1; 
}

.navbar .MuiAppBar-root {
  height: 70px; /* กำหนดความสูงของ AppBar */
}

.MuiTableCell-root {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 18px; /* ขนาดฟ้อน */
}

.profile-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #f4f2ee;
}

.menu-appbar .MuiPaper-root {
  background-color: transparent;
  box-shadow: none;
}

.navbar .MuiCard-root {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .MuiCardContent-root {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar .MuiButton-root {
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.navbar .MuiButton-root:hover {
  transform: scale(1.05);
}
/* Default (Light Mode) */
.navbar {
  background-color: #333333;
  color: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #ffffff;
    color: #000000;
  }

  .profile-icon {
    border: 2px solid #000000;
  }
}
