.navbar {
  background-color: #1f1f1f;
  position: fixed;
  top: 0px;
  left: 250px; /* ลดขอบเขตด้านซ้ายของ Navbar เพื่อให้ไม่แทบกับ Sidebar */
  right: 0;
  z-index: 1; 
}

.MuiList-root {
  padding-top: 8px !important; /* เพิ่ม !important เพื่อให้แน่ใจว่าการตั้งค่านี้มีความสำคัญกว่า */
  padding-bottom: 8px !important; /* เพิ่ม !important เพื่อให้แน่ใจว่าการตั้งค่านี้มีความสำคัญกว่า */
}


.navbar-menu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
