@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,400;1,1000&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* ความสูงเต็มหน้าจอ */
    width: 250px;
    background-color: #333;
    color: #fff;
    position: fixed;
    
    
  }

  .sidebar-heading {
    margin: 18px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center; /* เพิ่มบรรทัดนี้ */
    border-bottom: 1px solid white; /* เพิ่มบรรทัดนี้ */
  }
  
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .sidebar-heading {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .tabs {
    flex-grow: 1;
    padding: 20px;
  }
  
  .tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tabs ul li {
    margin-bottom: 30px; /* เพิ่มระยะห่างระหว่างรายการ */
  }
  
  .tabs ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .tabs ul li a:hover {
    color: #f924b2; /* เปลี่ยนสีเมื่อเม้าส์ไปชี้ */
  }
  