.MuiDrawer-root {
  width: 250px;
  flex-shrink: 0;
}

.MuiDrawer-paper {
  width: 250px;
  box-sizing: border-box;
  background-color: #333333;
  color: #ffffff;
}

.MuiDrawer-paper .projectify-logo {
  width: 20px; /* ปรับขนาดรูปภาพ */
  height: 20px; /* ปรับขนาดรูปภาพ */
  margin-right: 8px;
}

.projectify-title {
  color: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .MuiDrawer-paper {
    background-color: #ffffff;
    color: #000000;
  }

  .projectify-title {
    color: #000000;
  }

  .divider-color {
    border-color: #000000;
  }
}
