.MuiDrawer-paper {
  width: 250px;
  box-sizing: border-box;
  background-color: #333333;
  color: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .MuiDrawer-paper {
    background-color: #ffffff;
    color: #000000;
  }

  .MuiListItemIcon-root {
    color: #000000;
  }

  .MuiListItem-button:hover {
    background-color: #e0e0e0;
  }
}

.projectify-logo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.projectify-title {
  color: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .projectify-title {
    color: #000000;
  }

  .divider-color {
    border-color: #000000;
  }
}
