
.create-task-focus [type='text']:focus,
.create-task-focus [type='email']:focus,
.create-task-focus [type='url']:focus,
.create-task-focus [type='password']:focus,
.create-task-focus [type='number']:focus,
.create-task-focus [type='date']:focus,
.create-task-focus [type='datetime-local']:focus,
.create-task-focus [type='month']:focus,
.create-task-focus [type='search']:focus,
.create-task-focus [type='tel']:focus,
.create-task-focus [type='time']:focus,
.create-task-focus [type='week']:focus,
.create-task-focus [multiple]:focus,
.create-task-focus textarea:focus,
.create-task-focus select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: none; 
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0 var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #afb2ae;
}


.create-task-editor-wrapper {
  border-width: 1px !important; /* ปรับความหนาของ border */
  border-color: gray !important; /* เปลี่ยนสีของ border ถ้าต้องการ */
  border-style: solid; /* เพิ่มสไตล์ border เป็น solid */
}


/* CreateTask.css */
.create-task-editor-wrapper .DraftEditor-root {

  height: 300px; /* หรือคุณสามารถกำหนด max-height ได้ */


}



.create-task-page-title{
  text-align: center;
  font-size: 40px;
  color: #333;

  font-weight: 650;
}

.create-task-editor-wrapper .rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid grey; /* ปรับความหนาและสีของ border ตามต้องการ */
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  -webkit-user-select: none;
  user-select: none;
}