/* EditTaskItem.css */

.dialogPaper {
 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

  }
  
  .dialogContent {
    padding: 20px;
    background-color: #ff6f91;
   
  }
  
  .dialogActions {
    padding: 10px 20px;
    justify-content: flex-end;
  }
  
  .textField {
    margin-bottom: 20px;
  }
  
  .selectField {
    margin-bottom: 20px;
  }
  
  .inputLabel {
    font-weight: bold;
    color: #333;
  }
  
  .button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .cancelButton {
    background-color: #eee;
    color: #333;
  }
  
  .saveButton {
    background-color: #007bff;
    color: #fff;
  }
  
  .saveButton:hover {
    background-color: #0056b3;
  }
  
  
  .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* กำหนดให้รูปโปรไฟล์เป็นรูปทรงกลมโดยใช้ border-radius */
    margin-right: 20px;
  }
  

  .taskName {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* เพิ่มเส้นแบ่งด้านล่างของ TaskName */
    padding-bottom: 8px; /* เพิ่มระยะห่างด้านล่างของ TaskName */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปขีดเพื่อแสดงว่าเป็นองค์ประกอบที่คลิกได้ */
  }
  
  .taskName:hover {
    background-color: rgba(0, 0, 0, 0.04); /* เพิ่มสีพื้นหลังเมื่อเมาส์ชี้ไปที่ TaskName */
  }


.edit-task-focus [type='text']:focus,
.edit-task-focus [type='email']:focus,
.edit-task-focus [type='url']:focus,
.edit-task-focus [type='password']:focus,
.edit-task-focus [type='number']:focus,
.edit-task-focus [type='date']:focus,
.edit-task-focus [type='datetime-local']:focus,
.edit-task-focus [type='month']:focus,
.edit-task-focus [type='search']:focus,
.edit-task-focus [type='tel']:focus,
.edit-task-focus [type='time']:focus,
.edit-task-focus [type='week']:focus,
.edit-task-focus [multiple]:focus,
.edit-task-focus textarea:focus,
.edit-task-focus select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: none; 
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0 var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #afb2ae;
}

