/* Task.css */
.main-content {
  grid-column: 2 / -1;
  
  padding-top: 60px; /* ปรับตามความสูงของ Navbar */
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 80px;
  
  color: #ff0000; /* สีของข้อความ */
}

.table-container {
  margin-bottom: 20px;
  
  width: calc(100% - 250px); /* Navbar ยืดตามขนาดของหน้าจอหลัก */
 
  border-radius: 8px; /* ขอบมนเมื่อมมองจากข้างข้าง */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เงาของ container */
  margin-left: 250px;
  

 

}

.table-container h1 {
  font-size: 20px;
  margin: 20px;
  color: #000000; /* สีของข้อความ */
}



.table-container th {
  background-color: #84848480; /* สีพื้นหลังของหัวข้อตาราง */
  font-weight: bold;
}

.table-row-collapse {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.table-cell-collapse {
  padding: 0 !important;
}

.table-row-group-name {
  margin-bottom: -1px;
}

.table-cell-group-name {
  padding-bottom: 0;
}

.collapse-closed {
  height: 0 !important;
  overflow: hidden !important;
  transition: height 0.2s ease-out;
}

.collapse-content {
  padding: 0 !important;
}
